<div class="col-sm-6 float-right">
  <div class="card" style="width: 18rem">
    <img
      src="{{ ima }}"
      width="50%" 
      class="card-img-top imaProduct"
      alt="Imagen de producto"
    />
    <div class="card-body">
      <p class="card-title">
        {{ nombre }}
      </p>
      <h6 class="card-text">
          VALOR: {{ valor  | currency:'$'  }}
      </h6>

      IVA: {{ iva  | currency:'$' }}
      <br>
      <a (click)="sendToList()" class="btn btn-primary">Añadir al carrito</a>
    </div>
  </div>
</div>
