<div class="mb-3">
    <label for="txtemail" class="form-label" >Email</label>
    <input type="email" class="form-control" id="txttemail" placeholder="name@example.com"  [(ngModel)]="email" />
    <label for="txtnombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="txtnombre" placeholder="ALBERTO" [(ngModel)]="nombre" />
    <label for="txtpassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="txtpassword" placeholder=""  [(ngModel)]="password" />
</div>

<button (click)="register()"class = "btn btn-warning">REGISTER</button>