<div class="card" style="width: 90%; align: center">


  <div class="card-body">
    <h5 class="card-title">Catalogo de Productos</h5>
    <div class="row">
      <app-producto #productos ima='../../assets/lenteja.jfif' nombre="LENTEJAS" valor='3000' iva='0'> </app-producto>
      <app-producto ima='../../assets/arroz.jfif' nombre="ARROZ" valor='1400' iva= 0 ></app-producto>
      <app-producto ima='../../assets/gaseosa.jfif' nombre="GASEOSA" valor='2900' iva='1000'></app-producto>
      <app-producto ima='../../assets/pasta.jfif' nombre="PASTA" valor='4000' iva='700'></app-producto>
      <app-producto ima='../../assets/cafe.jfif' nombre="CAFÉ" valor='4000' iva='1000'></app-producto>
      <app-lista-productos></app-lista-productos>
    </div>
  </div>
</div>