<div class="mb-3">
    <label for="txtemail" class="form-label" >Email</label>
    <input type="email" class="form-control" id="txttemail" placeholder="name@example.com"  [(ngModel)]="email" />
    <label for="txtpassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="txtpassword" placeholder=""  [(ngModel)]="password" />
</div>
<button (click)="login()"class = "btn btn-primary">LOGIN</button>
<button (click)="register()"class = "btn btn-warning">REGISTER</button>