/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html {
    background: #177fcf;
    background: -moz-linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    background: -webkit-gradient(left bottom, right top, color-stop(34%, #177fcf), color-stop(35%, #1781d0), color-stop(64%, #1bb8e3), color-stop(69%, #1cc1e6));
    background: -webkit-linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    background: -o-linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    background: -ms-linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    background: linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177fcf', endColorstr='#1cc1e6', GradientType=1 );
width: 100%;
height: 100%;
}/* You can add global styles to this file, and also import other style files */
.deg{
    background: #177fcf;
    background: -moz-linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    background: -webkit-gradient(left bottom, right top, color-stop(34%, #177fcf), color-stop(35%, #1781d0), color-stop(64%, #1bb8e3), color-stop(69%, #1cc1e6));
    background: -webkit-linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    background: -o-linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    background: -ms-linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    background: linear-gradient(45deg, #177fcf 34%, #1781d0 35%, #1bb8e3 64%, #1cc1e6 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177fcf', endColorstr='#1cc1e6', GradientType=1 );
    }
.center{
    margin-top: 20%;
    float: center;
    justify-content: center;
    width: 60%;
    position :relative !important; 
    left: 20% !important;
}

.white{
    color: aliceblue;
}