<div class="col-sm-16 float-right">
    <div class="card" style="width: 30rem">
        <div class="card-body">
            <p class="card-title">LISTADO DE PRODUCTOS EN COMPRA</p>
        </div>

        <table class="table float-right">
            <thead>
                <tr>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Valor</th>
                    <th scope="col">IVA</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let producto of productos">
                    <th scope="row">
                        {{ producto.cantidad }}
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" (click)="cambiarCantidad(producto.nombre, 1)">
                                +
                            </button>
                            <button type="button" class="btn btn-default" (click)="cambiarCantidad(producto.nombre, -1)">
                                -
                            </button>
                        </div>
                    </th>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.valor }}</td>
                    <td>{{ producto.iva }}</td>
                </tr>
                <tr>
                    <td>Subtotal {{ subtotal }}</td>
                    <td>Total {{ subtotal + iva }}</td>
                </tr>
            </tbody>
        </table>

        <div id="chartContainer" style="height: 370px; width: 100%;"></div>

        <a (click)="buyList()" class="btn btn-primary">COMPRAR AHORA</a>
    </div>
</div>